  body {
      font-family: Arial;
      background-color: #f9f9f9;
      padding: 30px;
    }
     .imgmyf{
      border-radius: 50px;
     height: 100px;
     width: 100px;
     }
    form {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: 400px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    label {
      display: block;
      margin-top: 10px;
       color: rgb(57, 139, 168);
    }
    h2{
        color:rgb(159, 194, 207);
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    button {
      background-color: #0f0e0e;
      color: white;
      border: none;
      margin-top: 15px;
    }
    button:hover{
        background-color: rgb(159, 194, 207);
    }